<div class="container" id="login-container">
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4">
      <h2 class="text-center mb-1">Iniciar Sesión</h2>
      <p class="text-center mb-4">Iniciar sesión para continuar</p>
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">EMAIL</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="mb-4">
          <label for="password" class="form-label">PASSWORD</label>
          <input type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary w-100">Iniciar</button>
      </form>
      <div class="text-center mt-4">
        <p class="text-center mb-2">¿Aún no tenés una cuenta?</p>
        <button type="button" class="btn btn-primary w-100" routerLink="/registro">Registrarse</button>
      </div>
    </div>
  </div>